.onboarding {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/images/ob-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;

  padding: calc(
      var(--tg-content-safe-area-inset-top, 0px) +
        var(--tg-safe-area-inset-top, 0px)
    )
    calc(
      var(--tg-content-safe-area-inset-right, 0px) +
        var(--tg-safe-area-inset-right, 0px)
    )
    calc(
      var(--tg-content-safe-area-inset-bottom, 0px) +
        var(--tg-safe-area-inset-bottom, 0px)
    )
    calc(
      var(--tg-content-safe-area-inset-left, 0px) +
        var(--tg-safe-area-inset-left, 0px)
    );
}

.onboarding__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.onboarding__content_top {
  width: 100%;
  // height: 100%;
  flex: 1;
  margin-bottom: -50px;
  position: relative;
}

.onboarding__content_top_cards {
  width: 100%;
  // height: 100%;
  position: absolute;
  // position: relative;
  bottom: 0;
  z-index: 1;
}

.onboarding__content_top_luch {
  width: 95%;
  position: absolute;
  bottom: 0;
  z-index: 5;

}

.onboarding__content_bot {
  width: 100%;
  height: auto;
  background-color: #f5f3ead9;
  border-radius: 40px 40px 0 0;
  padding: 63px 28px 37px;
}

.onboarding__content_bot_textblock {
  width: 100%;
  padding: 0 5px;
}

.onboarding__content_bot_textblock_header {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -1%;
  color: #000000;
  margin-bottom: 24px;
  font-family: "MTSWideMedium";
}

.onboarding__content_bot_textblock_text {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -1%;
  color: #000000;
  color: #00000099;
  margin-bottom: 34px;
  font-family: "MTSTextRegular";
}

.onboarding__content_bot_textblock_b {
  color: #000000;
}

@media (max-height: 720px) {
  .onboarding__content_top {
    margin-bottom: -40px;
  }

  .onboarding__content_top_cards {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
  }



  .onboarding__content_bot {
    padding: 33px 28px 27px;
  }

  .onboarding__content_bot_textblock_header {
    margin-bottom: 12px;
  }

  .onboarding__content_bot_textblock_text {
    margin-bottom: 20px;
  }
}


@media (max-height: 640px) {
.onboarding__content_bot_textblock_header {
  font-size: 28px;
  line-height: 30px;
  letter-spacing: -1%;
}

.onboarding__content_bot_textblock_text {
  font-size: 14px;
  line-height: 15px;
  letter-spacing: -1%;

}
}